<div class="text-center mb-5">
    <h1 class="display-4 fw-bold text-primary">PassGuard<span class="text-dark">Manager</span></h1>
    <p class="lead text-muted">{localize("strings.authentication")}</p>
</div>